<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-black text-white flex flex-col justify-center items-center h-screen">
    <canvas id="starfield" class="fixed top-0 left-0 w-screen h-screen overflow-hidden -z-10"></canvas>

    <div class="border-2 h-[700px] w-[1100px] flex flex-col justify-around  border-gray-500 rounded-2xl bg-black/50">
        <div class="flex justify-around">
            <div class="mt-32">
                {% if metadata %}
                <h3 class="text-3xl font-bold text-amber-200 mb-6">Video Metadata:</h3>
                <p>
                    File Name: {{ metadata['File Name'] }}<br><br>
                    File Format: {{ metadata['File Format'] }}<br><br>
                    File Size: {{ metadata['File Size'] }}<br><br>
                    Hash Value: {{ metadata['Hash Value'] }}<br><br>
                    Upload Time: {{ metadata['Upload Time'] }}<br><br>
                    Video Duration: {{ metadata['Video Duration'] }}
                </p>
                {% else %}
                <p>No metadata</p>

                {% endif %}
            </div>
            <div class="flex flex-col items-center mt-28">
                <div class="flex justify-center items-center">
                    <!-- below code shall not be disturbed  -->
                    {% if prediction %}
                    <!-- add div and then do css -->
                    <div
                        class="flex flex-col justify-center items-center border h-80 w-96 border-gray-600 bg-black rounded-xl">
                        <h2 class="mb-3 text-3xl font-bold">Result: {{ prediction }}</h2>
                        <h2 class="text-3xl font-bold">Confidence: {{ confidence }}</h2>

                        <!-- <img src="{{ url_for('uploaded_file', filename=filename) }}" alt="Uploaded Image"> -->
                    </div>
                    {% else %}
                    <p>No result available</p>
                    {% endif %}
                    <!-- till this -->
                </div>

            </div>
        </div>
        {% if report_filename0 %}
        <div class="flex justify-center">
            <a href="{{ url_for('download0', filename=report_filename0) }}"
                class="mr-16 h-20 w-60 mt-8 flex justify-center items-center rounded-full font-bold bg-gradient-to-r from-pink-500  to-purple-800 hover:border text-xl">Generate PDF Report</a>
            {% endif %}
            {% if report_filename0 %}
            <a href="{{ url_for('detail_video', filename=filename) }}"
                class="h-20 w-60 mt-8 flex justify-center items-center rounded-full font-bold bg-gradient-to-r from-amber-400 to-amber-700 hover:border text-xl">View Detailed Report</a>
            {% endif %}
        </div>
    </div>



    <script src="../static/scripts/stars.js"></script>
</body>

</html>